@using AutoRespect.Infrastructure.OAuth.Design
@inject IAccountContext accountContext

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">AutoRespect</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (accountContext.IsAuthorized)
                {
                    <li><a>Wellcome, @accountContext.Login!</a></li>
                    <li><a asp-controller="Account" asp-action="SignOut">Sign out</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="SignIn">Sign in</a></li>
                    <li><a asp-controller="Account" asp-action="SignUp">Sign up</a></li>
                }
            </ul>
        </div>
    </div>
</nav>